@model Tp_inmobiliaria.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}
<div class="card shadow-sm p-4 mx-auto" style="max-width: 500px; border-radius: 12px; background-color: #fefefe;">
    <h4 class="mb-4 text-center">Editar Usuario</h4>

    <form asp-action="GuardarEdicion" method="post" enctype="multipart/form-data">
        

        <div class="mb-3 text-center">
            <img src="@Model.foto" alt="Foto de perfil" class="rounded-circle mb-3"
                style="width: 100px; height: 100px; object-fit: cover;">
        </div>
        <div class="mb-3 text-center">
        <input type="" asp-for="Id" readonly/>
        </div>
        
    <div class="mb-3">
            <label asp-for="NombreUsuario" class="form-label"></label>
            <input asp-for="NombreUsuario" class="form-control" />
            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ApellidoUsuario" class="form-label"></label>
            <input asp-for="ApellidoUsuario" class="form-control" />
            <span asp-validation-for="ApellidoUsuario" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" type="email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        @if (User.IsInRole("ADMIN"))
        {
            <div class="mb-3">
                <label asp-for="IdTipoUsuario" class="form-label">Rol Usuario</label>
                <select asp-for="IdTipoUsuario" class="form-select">
                    <option value="">-- Seleccione Rol --</option>
                    <option value="1">Admin</option>
                    <option value="2">Empleado</option>
                </select>
                <span asp-validation-for="IdTipoUsuario" class="text-danger"></span>
            </div>
        }

        <div class="mb-3">
            <label for="Foto" class="form-label">Foto de perfil</label>
            <input type="file" name="FotoArchivo" asp-for="foto" class="form-control" />    
        </div>

        @if(User.IsInRole("EMPLEADO"))
        {
            <input type="hidden" asp-for="IdTipoUsuario"/>
        }

        <input type="text" name="foto" asp-for="foto" value="@Model.foto" hidden/>

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary">Guardar Usuario</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
