@model IEnumerable<Tp_inmobiliaria.Models.Usuario>
@{
    ViewData["Title"] = "Login";
    ViewData["OcultarHeader"] = true;
}


<div class="text-center my-4">
    <img src="~/images/CLEVER.png" alt="Logo CLEVER" class="img-fluid" style="max-height: 100px;">
</div>
<h2>Iniciar sesión</h2>

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger mt-3">@ViewBag.Error</div>
}
