@model IEnumerable<Tp_inmobiliaria.Models.Tipo_Inmueble>
@{
    ViewData["Title"] = "Propietario";
}

<div class="text-center">
    <h1 class="display-4">Lista de Tipo de Inmuebles</h1>
</div>
<div class="mb-3">
    <a type="button" class="btn btn-success" asp-action="AgregarTipoInmueble">Agregar Tipo de Inmueble</a>
</div>
<table class="table table-striped, table table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Nombre</td>
            <td>
                <a class="btn btn-success btn-sm me-1" asp-action="EditarInmueble" asp-route-id="@p.Id">
                    <i class="bi bi-pencil-square"></i> Editar
                </a>
                <a class="btn btn-danger btn-sm" asp-action="EliminarInmueble" asp-route-id="@p.Id">
                    <i class="bi bi-trash"></i> Eliminar
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>